.tasks {
  list-style-type: none;
  margin: 0 0 15px 0;
  padding: 0;
}

.task {
  align-items: flex-start;
  background-color: #fff;
  display: flex;
  padding: 10px 25px;
}

.task__descr {
  display: flex;
  flex: auto;
  margin-right: 25px;
}


.task:not(:last-of-type) {
  margin-bottom: 5px;
}

.task__descr .icon {
  margin-right: 15px;
}

.label {
  align-items: center;
  border-radius: 100px;
  display: flex;
  min-width: 125px;
  /* justify-content: space-between; */
  padding: 6px 16px;
}

.label__circle {
  border-radius: 50%;
  display: block;
  height: 16px;
  margin-right: 15px;
  width: 16px;
}

.label__text {
  color: #212132;
}

.pagination-topic {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.pagination-topic .select {
  align-items: center;
  display: flex;
}

.select__field {
  margin-right: 25px;
}

.mat-sel {
  width: 80px;
}

/* .pagination-topic label {
  position: relative;
}

.pagination-topic label::after {
  content: '▾';
  font-size: 1.2rem;
  height: 10px;
  left: -25px;
  position: absolute;
  top: 0;
  width: 10px;
} */
