<section class="container">

  <section class="container-okr">
    <div class="container-okr_controls">
      <span class="material-icons" style="color: #7397AB">
        arrow_drop_up
      </span>
      <span class="material-icons" style="color: #7397AB">
        arrow_drop_down
      </span>
      <!-- <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#7397AB">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path d="M7 14l5-5 5 5H7z" /></svg>
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#7397AB">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path d="M7 10l5 5 5-5H7z" /></svg> -->
    </div>
    <h3 class="container-okr_title">OKR Title</h3>
  </section>

  <section class="container-status">
    <div class="container-status_controls">
      <span class="material-icons" style="color: #7397AB">
        arrow_drop_up
      </span>
      <span class="material-icons" style="color: #7397AB">
        arrow_drop_down
      </span>
    </div>
    <div class="container-status_heading">Status</div>
    <div class="container-status_icon">
      <span class=" material-icons" style="color: #7397AB">
        subject
      </span>
    </div>
  </section>

</section>
